/* Syle sheet created by: Emma Schupansky, 9/30/25 */

body {
    font-family: Arial, sans-serif;
    background-color: #FFF2F2;
    margin: 0;
    padding: 0;
    color: #000000;
}

#container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* headings */

h1, h2 {
    font-family: "Trebuchet MS", sans-serif;
    color: #71BE6F;
    margin-bottom: 10px;
}

h1 {
    margin-top: 20px;
    font-size: 2em;
}

h2 {
    margin-top: 30px;
    font-size: 1.6em;
}

/* text */

p, ul, li {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    font-size: 1em;
}

p {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 8px;
	max-width: 500px;
	margin: 20px auto;
}

/* list items */

ul {
    padding: 15px 25px;
    background-color: #transparent;
    border-radius: 8px;
    display: inline-block;
    text-align: left;
}

ul li {
    margin-bottom: 8px;
}

ol {
	list-style-type: none;
	 display: inline-block;
	 padding: 15px 25px;
}

/* header */

header {
    text-align: center;
    padding: 15px 0;
}

header img {
    max-width: 300px;
}

/* nav */

nav {
    text-align: center;
    margin-bottom: 20px;
	
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    background-color: #F7D983;
    padding: 10px 18px;
    margin: 8px;
    border-radius: 12px;
}

nav li:hover {
    background-color: #f1b948;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 1.15em;
}

/* main*/

main {
    background-color: #ffffff;
    border-top: 4px solid #FFE3E3;
    border-bottom: 4px solid #FFE3E3;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 40px;
	box-shadow: #000000;
	max-width: 820px;
	margin: 0 auto;
    padding: 20px;
}

main img {
    width: 700px;
    max-width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
	display: block;
	margin: 20px auto;
}

/* jump links */

.jump-links {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    gap: 6px;
	max-width: 600px;
	margin: 0 auto 20px;
}

.jump-links a {
    background-color: #F7D983;
    color: white;
    padding: 3px 7px;        
    border-radius: 999px;
    text-decoration: none;
    font-size: 0.8rem;     
    font-weight: 600;   
}

.jump-links a:hover {
    background-color: #f1b948;
}

/* footer */

footer {
    text-align: center;
    font-size: 0.75em;
    color: #8080808;
    padding: 15px 0;
    margin-top: 20px;
}

}
